.app-div{
  display: flex;
  flex-direction:column;
  gap: 1rem;
  min-height: 100vh;
  align-items: stretch;
}

.app-div > * {
  flex: 1;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-box{
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
  margin:0%;
  padding: 1rem;
  border: 0.1rem solid blue;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.upload-panel{
  border: 0.1rem solid blue;
  flex: 80;
  display: flex;
}

.key-touch-box{
  border: 0.1rem solid blue;
  flex: 1;
}

.key-keep-box{
  border: 0.1rem solid blue;
  flex: 1;
}

.key-hit-box{
  border: 0.1rem solid blue;
  flex: 1;
}

.font-bar{
  border: 0.1rem solid blue;
  flex: 1;
}

.rendering-box{
  background-color: rgb(219, 219, 219);
  color: rgb(0, 0, 0);
  margin:0%;
  padding: 1rem;
  border: 0.1rem solid blue;
  flex: 1;
}

#file-upload-handler{
  display: none;
}